.z0 > .L3:active
  background-color $black

.WR .z0 > .L3
  color $white

.WR:not(.anZ) .z0>.L3::before
  filter grayscale(1) brightness(2)

.z0>.L3:hover
.z0>.T-I-KE.L3:focus
  background-color $black