// Styles for context menu
.J-M
  background-color $darkerGray

// Texts for each option
.J-N
  &
  &.J-N-JT
    color $white

// Hover option
.J-N-JT
  background-color rgba(255, 255, 255, 0.075)

  .J-N-Jz
    color $white

// Icons for each option
.J-N-Jo
.J-N-JX
.By
.Bq
  filter invert(1)

// Caret icon for submenus
.J-Ph-hFsbo
  filter invert(1)

// "Mark all as read" submenu option
.J-Kh
  border-top-color $darkGray

// Remove italic from text "Select the messages to show more actions"
.ja
  font-style normal

// TODO: Move to form.styl or input.styl
.agd .J-M-JJ input
  padding 0 10px
  height 2rem
  border-radius 4px
  background-color $black
  color $white

.bqf
  padding 0

  &:focus
    box-shadow none

// Mag icon on tag search context menu
.A0
  filter invert(1)

  .asg &
    top 6.5px

// Checkbox
.J-LC-Jo
  filter invert(1)

// Text option
.J-LC
.J-JK
  color $white

// Hover option
.J-LC-JT
.J-JK-JT
  border-color transparent
  background-color rgba(255, 255, 255, 0.075)

// Context menu titles
.Br.J-awr
  color $white

// Option selected in context menu
.J-Ks-KO .J-N-Jz
  color $white
