// Title bar
.nH.V8djrc.byY
  padding-bottom 20px
  background-color $darkerGray
  color $white

// Star, answer and options icon on right side
.mK
.aaq .mK
.bi4 > .T-KT:not(.T-KT-Jp):not(.byM):before
.hx .gH.bAm .T-I .T-I-J3
  opacity 0.5

// Hover icons on right side
.T-I-ax7.T-I-Jp .T-I-J3
.T-I-ax7.T-I-KO .T-I-J3
.T-I-ax7.T-I-JW .T-I-J3
  opacity 0.9

.T-I .T-I-J3
.f.gW
  filter contrast(0) brightness(2)

.hx .gH.bAm .T-I .T-I-J3
  filter none

// Strange margin before right scrollbar
.if
  margin 0

  > .byY
    padding 20px 25px 8px

.adC
  margin 0

.hx
  .gH.bAm
    margin-right 20px

  // Improve margins of mail content
  .ii
    margin 45px 45px 0 0

//
.ha > .hP
  color $gray !important
