
.a3s.aXjCH
  background-color $darkerGray !important

  center
  div
  font
  table
    background-color $darkerGray !important
    border-color $darkerGray !important
    color $lighterGray !important

  a, b, p, li, td, span, strong
    color $lighterGray !important

  tr
  td
    background-color transparent !important

  td[class$="break-line"]
    background-color $darkerGray !important

  [id$="canspamBarWrapper"]
    border 0 !important
    td
      background-color $black !important
      color $darkerGray !important

.ha .pH-A7
.ha .aoj
  background-image url('https://www.gstatic.com/images/icons/material/system/1x/label_important_outline_white_20dp.png')

.hx
  color $darkBlue !important

font[color="#ff0000"]
  color $red !important

.ii a[href]
  color $lightBlue

.hx .gD
  font-weight 600
  color $blue

[id*="backgroundTable"]
  background-color $black !important

// Footer section
[id*="-designer"] > img
  display none !important

[id*="-footer"]
  background-color $black !important

  + .adL
    display none !important

// Footer buttons
table > tbody > tr > td.amr > div
  background-color transparent !important

.amn .ams
  background-color $darkBlue
  box-shadow 0 0 0 1px rgba($darkerGray, 0.75) !important
  color $white

  &::before
    filter invert(1)
    opacity 0.75

// Hide previous message button inside body
img.ajT
  filter invert(1)
  opacity 0.25 !important

// Email response templates button
.brb .bra
  background-color $darkBlue
  border-radius 2px
  box-shadow 0 0 0 1px rgba($darkerGray, 0.5) !important
  color $lighterGray
  font-size 13px
  padding 4px 10px

// Previous email text
.g6
  color rgba($lighterGray, 0.85)

// Star, answer and options icon on right side
.mK,
.aaq .mK,
.bi4 > .T-KT:not(.T-KT-Jp):not(.byM):before
  filter invert(1)
  opacity 0.5

// Hover icons on right side
.T-I-ax7.T-I-Jp .T-I-J3,
.T-I-ax7.T-I-KO .T-I-J3,
.T-I-ax7.T-I-JW .T-I-J3
  opacity 0.9

.T-I .T-I-J3
.f.gW
  filter contrast(0) brightness(2)

.g3
  .ig &
  .hI &
  .iv &
    color $lightGray

.go
.hx .hb
  color $lightGray

.nH.V8djrc.byY
  background-color $darkerGray
  color $white
  padding-bottom 20px

.ha > .hP
  color $lighterGray
