.T-KT                   // Starred icons
.a9q.pH                 // Important messages icon
.as .at                 // Labels on messages list
.aEe, .aEc.aHS-bnr .qj  // Labels on sidebar
  filter saturate(0.5)
