modal = 'div.Kj-JD'
text = 'div.Kj-JD-Jz'
footer = '.Kj-JD-Jl'
button-text = '.J-at1-auR'
checkbox-checked = '.T-Jo-Jp'
checkbox-unchecked = '.T-Jo'

{modal}
  background-color lighten($black, 2%)

{modal} span
  color $lighterGray

{text}
  color $lighterGray

{footer}
  div& > button
  .bBh & > {button-text}
    color $lighterGray

  div& > button
    ^[1].J-at1-atl
    ^[1].J-at1-auR
      background-color $blue

      &:hover
        background-color darken(saturate($blue, -10%), 10%)
        box-shadow 0 1px 2px 0 rgba(darken($blue, 10%), 0.451), 0 1px 3px 1px rgba(darken($blue, 10%), 0.302)

// Close icon on "Confirm delete" box
span.Kj-JD-K7-Jq::after
  filter invert(1)

// Select tabs modal
.aJ7 .aI0
  border-color transparent

:not(.xY)
  > {checkbox-checked}
  > {checkbox-unchecked}
    filter invert(1)

// :not(.G-tF)
//   > {checkbox-checked}
//   > {checkbox-unchecked}
//     filter invert(1)

// .xY é o select dos emails
// .G-tF é o select-all dos emails
