// Page name
.G-atb
  background-color $darkBlue

// Selector for settings page block
.v
  .fY
    display flex
    align-items center
    overflow scroll hidden
    margin 0
    height 4rem
    background-color $black
    text-align center

  .f1
    background-color transparent

    > a
      line-height 1.2rem

  .f1
  .f1 .f0
    color $lightGray

  // Active page
  .fZ
    border-radius 4px
    background-color $blue
    box-shadow none

    .f0
      color $white

  .f1
  .f1 .f0
  .fZ
    font-size 13px

  // Top bar tabs text
  .f1
  .fZ
    display flex
    flex-shrink 0
    align-items center
    height 1.5rem

// Body configuration
.r4
.alO
  background-color $darkerGray

// Dividers
.r7 td.r8
.r7 td.r9
  border-bottom-color $darkBlue

.qV
.qv
.qS
.qs
.r7 td.r8
.r7 td.r9
  padding 20px 0

.qS
.qV
  font-size 12px

  &:first-line
    font-size 14px

.f2
  .fZ
  .f1
    float none

// Links
.sA
.r4 .e
  color $lightBlue
  font-size 12px

select.a5p
  margin-left 5px
  padding-right 5px
  padding-left 5px
  height 28px
  border-color $black
  background-color $black
  color $lightGray

.bAY .rm
  color $lightGray

// Define Theme button
.Uu
  background-color $black

  &
  &:hover
    box-shadow none
    color $white

  &:hover
    background-color darken($black, 10%)

// Keyboard shortcuts
.nw
  border-bottom 0

.ny
  width initial
  table-layout initial

.v9 input
  margin-bottom 4px
  padding 5px 8px
  border 0
  border-radius 3px
  background-color $black
  color $lightGray

.qX
.qV
  border-bottom-width 1px
  border-bottom-color $darkGray

.r7 td.r5
  border-top-width 1px
  border-top-color $darkGray

.rZ
  display none

.CZ
  line-height 1.8
