.nH.oy8Mbf.nn.aeN
  background-color $darkBlue

// Folder name
.aHS-bnt
  .byl .TO.nZ > & .n0
  .nZ > & .bsU
    color $lighterGray

.TO .nU > .n0
.TO.NQ .nU > .n0
.TO.nZ .nU > .n0
.ah9 > .CJ
.n3 > .CL > .CK
  color $lighterGray
  text-shadow none

.wT > .n3 .byl:first-child .aim:first-child .nZ
.TK .TO:active
.n6 .ah9.aiu:active
.CL:active
.TO.nZ
.TO.ol
  background-color $gray

// Compose button
.z0
  margin-left 20px

  > .L3
    background-color $darkerGray
    border-radius 4px
    color $lightGray
    &:hover
      background-color darken($darkerGray, 10%)
      color $white
