// Tabs
.aKh
.AO
  background-color fade-out($black, 0.9)

// No e-mail tab panel
.aRs
  background-color transparent
  color $lightGray

// E-mail row
.yO
  background-color $black
  color rgba(255,255,255,0.7)
