// Tabs
.aKh
  background-color $black

// No e-mail tab panel
.aRs
  color $lightGray
  background-color $black

// E-mail row
.yO
  background-color $black
  color rgba(255,255,255,0.7)

.AO
  background-color $black
