.iY .Bu {
  background-color: $background;
}

.ha > .hP {
  color: $white;
}

.a3s.aXjCH {
  [id*="layout-row-padding"],
  [id*="ac-designer"] > div[class*="divbody"] table {
    background-color: $background !important;
  }

  .hx,
  .MsoNormal,
  [id*="text_div"] > div > div > span > span:nth-child(1),
  [id*="text_div"] > div > div:nth-child(2) > div {
    color: $white !important;
  }

  [id*="text_div"] > div > div > div > div[style] > span {
    color: $white !important;
  }
}

.hx {
  color: $white !important;
}

font[color="#ff0000"] {
  color: $red;
}

.ii a[href] {
  color: $light-blue;
}

.hx .gD {
  color: $white;
}
