.iY .Bu {
  background-color: #222;
}

.ha > .hP {
  color: #fff;
}

.a3s.aXjCH {
  [id*="ac-designer"] > div[class*="divbody"] > table > tbody > tr > td > table {
    background-color: #222;
  }

  .hx,
  [id*="text_div"] > div > div > span > span:nth-child(1) {
    color: #fff !important;
  }

}

