// Dark theme variables
// Inspired on One Dark theme

$black           = #1e2127
$darkerGray      = #31343f
$darkGray        = #535965
$gray            = #5c6370
$lightGray       = #7f848e
$lighterGray     = #abb2bf
$white           = #ffffff

$darkBlue        = #404552
$blue            = #596581
$lightBlue       = #4697d5
$cyan            = #56b6c2
$lightCyan       = #56b6c2
$green           = #98c379
$lightGreen      = #98c379
$yellow          = #d19a66
$lightYellow     = #e8b17d
$red             = #e06c75
$lightRed        = #e06c75
$magenta         = #c678dd
$lightMagenta    = #c678dd
